.steam {
    display: flex;
    max-width: 250px;
    flex-flow: column nowrap;
    justify-content: space-between;
    vertical-align: middle;
    position: relative;
    font-size: 14px;
    color: #c7d5e0 !important; /* no humble, you can't override this */
    background-color: black;
    margin: 4px 0;
    padding: 2px;
    border-radius: 4px;
    overflow: hidden;
    text-decoration: none;
}

.steam-name {
    display: flex;
    font-size: 14px;
    margin: 2px;
    color: #c7d5e0 !important; /* no humble, you can't override this */
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.steam-price-row {
    display: flex;
    /* Use row-reverse to make the price 
       align right when there's no discount */
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
}

.steam-discount {
    display: flex;
    font-size: 14px;
    color: #a4d007;
    background: #4c6b22;
    border-radius: 2px;
}

.steam-price {
    display: flex;
    background: black;
}

.steam-price-original {
    display: flex;
    font-size: 14px;
    text-decoration: line-through;
    color: #626366;
}

.steam-price-current {
    display: flex;
    font-size: 14px;
    color: #acdbf5;
}
