.steam-name {
    font-size: 11px;
    color: #626366;
}

.steam {
    height: 32px;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    position: relative;
    background-color: black;
    padding: 2px 2px 2px 0;
    border-radius: 2px;
    overflow: hidden;
    text-decoration: none;
}

.steam-discount {
    height: 32px;
    line-height: 32px;
    font-size: 25px;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    padding: 0 6px;
    color: #a4d007;
    background: #4c6b22;
    float: left;
}

.steam-price {
    vertical-align: top;
    background: black;
    overflow: hidden;
}

.steam-price-original {
    position: absolute;
    left: auto;
    right: 6px;
    top: 2px;
    font-size: 11px;
    text-decoration: line-through;
    color: #626366;
}

.steam-price-current {
    padding-left: 8px;
    padding-top: 13px;
    padding-right: 6px;
    font-size: 14px;
    color: #acdbf5;
}
